@media (max-width: 1250px) {
  .forever-bike {
    width: 500px;
    height: 500px;
  }

  .background-image {
    height: 700px;
  }

  .forever-container {
    height: 600px;
    align-items: start;
  }

  .form-container {
    width: 35%;
  }

  .menu {
    width: 35%;
  }

  .madeforyou-container {
    height: 700px;
  }
}

@media (max-width: 1060px) {
  .accordion-container {
    max-width: 700px;
  }

  .forever-container {
    align-items: normal;
    height: 550px;
    padding: 0px 15px 0px 15px;
    margin-top: 100px;
  }

  .forever-bike {
    width: 450px;
    height: 450px;
  }
  .about-container {
    justify-content: center;
  }

  .about-container h2 {
    margin: 0px;
  }
}

@media (max-width: 929px) {
  .forever-bike {
    width: 300px;
    height: 300px;
  }

  .forever-container {
    margin-top: 0px;
    height: 600px;

    justify-content: center;
    align-items: center;
    padding: 0px 15px 0px 15px;
  }
  .forever-container1 {
    max-width: 300px;
    padding: 100px 100px 100px 0px;
  }
  .pad {
    padding: 100px 0px 100px 100px;
  }
  .forever-container h2 {
    font-size: 40px;
    margin-bottom: 5px;
  }

  .accordions h2 {
    font-size: 100px;
  }

  .background-image {
    height: 600px;
  }

  .madeforyou-container {
    height: 600px;
    justify-content: center;
  }

  .menu {
    width: 40%;
  }

  .form-container {
    width: 40%;
  }

  .about-container {
    height: 600px;
  }
}

@media (max-width: 768px) {
  .background-image {
    height: 500px;
  }
  .about-container {
    height: 500px;
  }
  .madeforyou-container {
    height: 500px;
  }

  .menu {
    width: 50%;
  }

  .form-container {
    width: 50%;
  }

  .accordion-container {
    max-width: 460px;
  }
}

@media (max-width: 730px) {
  .madeforyou-container1 {
    padding: 0px;
  }
}

@media (max-width: 725px) {
  .accordion-container {
    max-width: 600px;
  }

  .footer-container {
    justify-content: row;
  }
}

@media (max-width: 666px) {
  .navbar {
    height: 40px;
  }

  .line {
    height: 3px;
    width: 40px;
    margin-top: 8px;
  }

  .burgerBar .line:nth-child(2) {
    width: 20px;
  }

  .burgerBar:hover .line {
    width: 40px;
  }

  .burgerBar.isactive .line:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
    background-color: black;
  }

  .burgerBar.isactive .line:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
    background-color: black;
  }

  h1 {
    font-size: 30px;
  }

  .navbar .logo i {
    color: black;
    font-size: 30px;
  }

  .log-in {
    font-size: 15px;
    padding: 8px;
  }

  .about-container h2 {
    font-size: 80px;
  }

  .forever-container1 h2 {
    font-size: 25px;
  }
  .accordion-container {
    max-width: 450px;
  }

  .accordions h2 {
    font-size: 100px;
  }

  .accessories-container {
    display: flex;
    justify-content: center;
    padding: 20px 10px;
  }

  .forever-bike {
    width: 200px;
    height: 200px;
  }

  .footer-container {
    height: 600px;
  }

  .one-container {
    flex: 1 0 50%;
  }

  .menu {
    width: 60%;
  }

  .form-container {
    width: 60%;
  }
}

@media (max-width: 600px) {
  .background-image {
    height: 350px;
    max-width: 590px;
  }

  .about-container {
    height: 350px;
  }

  .forever-container {
    height: 350px;
  }

  .madeforyou-container {
    height: 350px;
  }

  .accordions h2 {
    font-size: 80px;
  }

  .forever-container1 p {
    line-height: 15px;
  }

  .forever-container1 {
    padding: 50px 50px 50px 0px;
  }

  .pad {
    padding: 50px 0px 50px 50px;
  }
}

@media (max-width: 535px) {
  .forever-container1 h2 {
    line-height: 20px;
  }

  .madeforyou-container1 h2 {
    font-size: 30px;
  }
  .accordion-container {
    max-width: 400px;
  }

  .splide__slide img {
    height: 350px;
  }
  .form-container {
    width: 100%;
  }

  .menu {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .background-image {
    height: 300px;
  }

  .about-container {
    height: 300px;
  }

  .forever-container {
    height: 300px;
  }

  .forever-container1 {
    width: auto;
  }

  .madeforyou-container {
    height: 300px;
  }
  .about-container h2 {
    font-size: 60px;
  }
  .accordions h2 {
    font-size: 60px;
  }

  .accessories-container {
    padding: 10px 0px;
  }

  .madeforyou-container1 p {
    line-height: 20px;
    font-size: 15px;
  }

  .logo h1 {
    display: none;
  }

  .accordion-container {
    max-width: 300px;
  }

  .header {
    max-width: 100%;
  }
}

@media (max-width: 430px) {
  .forever-container1 p {
    font-size: 10px;
  }
}

@media (max-width: 410px) {
  .bicycles-container h2 {
    font-size: 60px;
  }
  .splide__slide img {
    height: 250px;
  }

  .madeforyou-container p {
    font-size: 10px;
  }

  .footer-container{
    height: 800px;
  }
}

@media (max-width: 370px) {
  .accessories-container h2 {
    font-size: 20px;
  }

  .forever-bike {
    width: 120px;
    height: 120px;
  }
}

@media (max-width: 363px) {
  .accordion-container {
    max-width: 200px;
  }
}

@media (max-width: 320px) {
  .background-image {
    height: 200px;
  }

  .about-container {
    height: 200px;
  }

  .forever-container {
    height: 200px;
  }

  .madeforyou-container {
    height: 200px;
  }

  .forever-container1 {
    padding: 10px;
  }

  .footer-container{
    height: 900px;
  }

}
